<!DOCTYPE html>
<html lang=en>
<head>
	<title>MonkeyScript Doc</title>
	
	<link rel="stylesheet" type="text/css" href="./api2.css">
	<link rel="stylesheet" type="text/css" href="./prettify/prettify.css">
	<script type="text/javascript" src="./prettify/prettify.js"></script>
	<script type="text/javascript" src="./jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="./jquery.scrollTo-min.js"></script>
	<script type="text/javascript" src="./api2.js"></script>
</head>
<body>
<div id=root>
	<a name=top id=top></a>
	<article>
		<section>
			<header>
				<span id=scripted class=off>
					JavaScript <span>Off</span>
				</span>
				<h1>MonkeyScript Documentation</h1>
			</header>
			<section class=doc>
				{.section modules}
				<section class=modList>
					<h3>Modules</h3>
					<ul>
					{.repeated section @}
						<li><a href="{module|htmltag}/">{module|html}</a></li>
					{.end}
					</ul>
				</section>
				{.end}
			</section>
		</section>
	</article>
</div>
</body>
